<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DRB_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DRB_Editor.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>918, 844</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DRBPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Dark Souls Prepare to Die Edition\DATA\menu\menu.drb</value>
            </setting>
            <setting name="Remastered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextureFormLocation" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="TextureFormSize" serializeAs="String">
                <value>400, 600</value>
            </setting>
        </DRB_Editor.Properties.Settings>
    </userSettings>
</configuration>